.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

# exclude everything in the folders
#01_data-processing/data/*

# but keep the .gitkeep files so the "empty" folder is tracked and uploaded
#!01_data-processing/data/.gitkeep
